[%autowidth.stretch]
|===
|Path|Type|Description|Constraints|Optional

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{#constraints}}{{.}} +
{{/constraints}}{{/tableCellContent}}
|{{#tableCellContent}}{{optional}}{{/tableCellContent}}

{{/fields}}
|===